@keyframes slideInFromLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.login-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px !important;
  align-items: center;
  background-color: #f8f9fa; 
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideInFromLeft 0.5s ease-out both;
}

form {
  padding: 50px;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 200px;
}

button:hover {
  background-color: #0056b3;
}